VITE_SUPABASE_URL="https://cigjaoafuiwklcxhbjpw.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpZ2phb2FmdWl3a2xjeGhianB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxNDI4NTEsImV4cCI6MjA4ODcxODg1MX0.sGiuvAUDzWsRepZ3htptUx0VfcOv6l4fqoARani7FaA"
